/* CSS Dùng chung, tất cả các module khác copy sang đều dùng */
.minw200 {
  min-width: 200px !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.ui-datepicker {
  z-index: 999999 !important;
}

table.table th > [type="checkbox"],
table.table td > [type="checkbox"] {
  margin-right: 0;
}

.form-horizontal textarea {
  max-width: 100%;
}

.form-inline img.ui-datepicker-trigger {
  margin-left: 10px;
}

.d-inline-block {
  display: inline-block !important;
}

.cursor-move {
  cursor: s-resize;
}

/* Quản lý danh mục */
.breadcrumb-catnav {
  font-size: 13px;
  line-height: 1.2em;
  background-color: #f5f5f5;
  padding: 8px 15px;
  display: block;
  border: 1px solid #e1e1e8;
  border-radius: 0;
}

/* Quản lý bài có chọn cat */
.content-catids-panel {
  max-height: 250px;
  overflow-y: auto;
}

.content-catids-panel .table {
  margin-bottom: 0;
}

.content-catids-panel .table th,
.content-catids-panel .table td {
  padding: 5px;
}

.content-catids-panel label {
  margin-bottom: 0;
}
